@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-1">
    <div class="bg-body-tertiary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Qual Mgmt</h1>
            <p class="fs-5">This application let's you manage qualifcations on staff members in your establishment</p>
            <p>Everything you will need to manage qualifications - from uploading evidence of qualifications to getting notifications when qualifications are about to expire</p>
            <p>That way, you have the time to focus on what is really important, Patient Care!!</p>
            <p>
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="About" role="button">Learn more about Qual Mgmt »</a>
            </p>
        </div>
    </div>
</div>
